<!DOCTYPE html>
<html ng-app="userApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
    <script src="UserController.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="userCtrl">
<div class="panel panel-default row">
    <div class="col-xs-8 col-xs-offset-2" center>
        <div class="well" ng-repeat="user in data">

                <input ng-model="user.id" required/>
                <input ng-model="user.name" required/>
                <button ng-click="addUser(user)" class="btn btn-info">Add</button>
                <button ng-click="deleteUser(user.id)" class="btn btn-danger">Delete</button>
                <button ng-click="updateUser(user)" class="btn btn-warning">Update</button>

        </div>
    </div>
</div>
</body>
</html>

